<nav class="navbar">
    <div class="navbar-user">
        <span *ngIf="fullName">{{ fullName }}</span>
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Service</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/blog">Blog</a></li>
    </ul>
    <div class="navbar-actions">
        <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
</nav>

