/* Style for the category bar */
.category-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #fff;
    font-size: medium;
}

/* Style for the category links */
.category-links {
    display: flex;
    list-style: none;
    position: relative;
    font-size:  20px;
    gap: 25px;
  overflow: hidden;
}

.category-links li {
    margin: 10px 20px;
    position: relative; /* Relative position for the underline */
  opacity: 0; /* Start hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  animation: slideIn 0.5s forwards; /* Animation to slide in */
  animation-delay: calc(var(--i) * 0.2s); /* Delay based on index */
}

/* Link styles */
.category-links li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    padding: 5px 10px 5px 10px;
}

/* Hover effect for text color */
.category-links li a:hover {
    color: #3d4a0a;
    font-weight: bold;
}

/* Underline effect */
.category-links li a::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 0; /* Initial width is 0 */
    height: 3px; /* Height of the underline */
    background-color: #3d4a0a; /* Orange underline color */
    transition: width 0.3s ease; /* Smooth transition for underline */
}

/* Expand underline on hover */
.category-links li a:hover::after {
    width: 100%; /* Expand underline to the full width of the link */
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
